---
import Layout from '@layouts/Layout.astro';
import Card from '@components/Card/index.tsx';
---
<Layout title="TODO">
	<main class="full flex justify-center items-center">
    <Card />
	</main>
</Layout>
