---
import Layout from '@layouts/Layout.astro';
import Form from '@components/Form/index.tsx';
import Toast from '@components/Toast/index.tsx';
import TodoList from '@components/TodoList/index.tsx';
---
<Layout title="STA">
	<main class="full flex flex-col justify-center items-center">
    <TodoList client:load />
    <Form client:idle />
	</main>
  <Toast client:idle />
</Layout>
